<cfoutput>
<div class="row">
  <div class="well well-lg col-md-6 col-md-offset-3">
    <h2 class="text-center">Create a new account entry</h2>
    <br>
    <cfinclude template="quickaddform.cfm"/>
  </div>
</div>
</cfoutput>