<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The website of Myles Goodhue">
    <meta name="author" content="Myles Goodhue">
    <link rel="icon" href="favicon.ico">

    <title>Myles Goodhue dot com</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <a name="top"></a>
    <div class="container">
        <h1 class="cover-heading">Awe man!  I broke something and couldn't do what you want.  Poop.</h1>
    </div>
  </body>
</html>