<!---  Remove CF Output --->
<cfsetting showdebugoutput="false">
<!---  Remove the COldBox Debugger --->
<cfset event.showdebugpanel("false")>
<!---  Render the set View --->
<cfset echo(renderView())>